

body {
	background-color: gold;
}

img{
	width: 50%;
}

#content {
	width: 30%;
	margin: auto;
}

#text{
	background-color: blue; 
	
}

#list{
	background-color:red;
	
}

#button{
	
	width:100%;
	
}

	
	
	